1. -- Calcular el número de viajes en taxi para cada compañía de taxis para el 15 y 16 de noviembre de 2017

In [ ]:
SELECT company_name, COUNT(*) AS trips_amount
FROM cabs
JOIN trips ON cabs.cab_id = trips.cab_id
WHERE DATE(start_ts) BETWEEN '2017-11-15' AND '2017-11-16'
GROUP BY company_name
ORDER BY trips_amount DESC;

2. -- Calcular el número de viajes para cada empresa de taxis cuyo nombre contiene las palabras "Yellow" o "Blue" del 1 al 7 de noviembre de 2017

In [ ]:
SELECT company_name, COUNT(*) AS trips_amount
FROM cabs
JOIN trips ON cabs.cab_id = trips.cab_id
WHERE (company_name LIKE '%Yellow%' OR company_name LIKE '%Blue%')
  AND DATE(start_ts) BETWEEN '2017-11-01' AND '2017-11-07'
GROUP BY company_name
ORDER BY trips_amount DESC;

3. -- Calcular el número de viajes para las empresas Flash Cab y Taxi Affiliation Services del 1 al 7 de noviembre de 2017, y agrupar los viajes de todas las demás empresas en el grupo "Other"

In [ ]:
SELECT 
    CASE 
        WHEN company_name IN ('Flash Cab', 'Taxi Affiliation Services') THEN company_name 
        ELSE 'Other' 
    END AS company,
    COUNT(*) AS trips_amount
FROM cabs
JOIN trips ON cabs.cab_id = trips.cab_id
WHERE DATE(start_ts) BETWEEN '2017-11-01' AND '2017-11-07'
GROUP BY 
    CASE 
        WHEN company_name IN ('Flash Cab', 'Taxi Affiliation Services') THEN company_name 
        ELSE 'Other' 
    END
ORDER BY trips_amount DESC;

4. -- Recuperar los identificadores de los barrios de O'Hare y Loop

In [ ]:
SELECT neighborhood_id, name
FROM neighborhoods
WHERE name LIKE '%Hare' OR name LIKE 'Loop';

5. -- Recuperar los registros de condiciones meteorológicas y dividir las horas en dos grupos: "Bad" y "Good"

In [ ]:
SELECT 
    ts,
    CASE 
        WHEN description LIKE '%rain%' OR description LIKE '%storm%' THEN 'Bad'
        ELSE 'Good'
    END AS weather_conditions
FROM 
    weather_records;

6. -- Recuperar los viajes que comenzaron en el Loop el sábado y terminaron en O'Hare junto con las condiciones climáticas y la duración de cada viaje

In [ ]:
SELECT 
    trips.start_ts AS start_ts,
    CASE 
        WHEN weather_records.description LIKE '%rain%' OR weather_records.description LIKE '%storm%' THEN 'Bad'
        ELSE 'Good'
    END AS weather_conditions,
    trips.duration_seconds AS duration_seconds
FROM 
    trips
INNER JOIN 
    weather_records ON DATE_TRUNC('hour', trips.start_ts) = DATE_TRUNC('hour', weather_records.ts)
WHERE 
    EXTRACT(DOW FROM trips.start_ts) = 6
    AND trips.pickup_location_id = 50
    AND trips.dropoff_location_id = 63
ORDER BY 
    trips.trip_id;